<% var last; %>
<% page.posts.each((post, i) => { %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% last = year; %>
        <div>
          <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a>
        </div>
    <% } %>
    <div>
        <a href="<%- url_for(post.path) %>" itemprop="url"><%= post.title %></a>
    </div>
<% }) %>
<% page.posts.each((post, i) => { %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
        <% last = year; %>
        <div>
            <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a>
        </div>
    <% } %>
    <div>
        <a href="<%- url_for(post.path) %>" itemprop="url"><%= post.title %></a>
    </div>
<% }) %>
<% page.posts.each((post, i) => { %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
        <% last = year; %>
        <div>
            <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a>
        </div>
    <% } %>
    <div>
        <a href="<%- url_for(post.path) %>" itemprop="url"><%= post.title %></a>
    </div>
<% }) %>
<% page.posts.each((post, i) => { %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
        <% last = year; %>
        <div>
            <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a>
        </div>
    <% } %>
    <div>
        <a href="<%- url_for(post.path) %>" itemprop="url"><%= post.title %></a>
    </div>
<% }) %>
<% if (page.total > 1){ %>
    <nav id="page-nav">
        <%- paginator({
            prev_text: '<i>&lt;</i>',
            next_text: '<i>&gt;</i>',
            escape: false
        }) %>
    </nav>
<% } %>