<% var title=page.title; %>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<%- meta_generator() %>
<title><% if (title){ %> <%= title %> | <% } %><%= config.title %></title>
<%- favicon_tag(theme.favicon) %> <%- css('css/style') %>
<link rel="stylesheet" href="css/font/lxgw-wenkai-screen-webfont.min.css" />